.dpad-panel {
  margin: 8px;
  position: absolute;
  left: var(--safe-area-inset-left);
  bottom: var(--safe-area-inset-bottom);
  display: grid;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
  color: #000000;
  white-space: normal;
}
:root:not(.touch) .dpad-panel {
  display: none;
}
.dpad-panel button {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cccccc;
  border: 2px solid #000000cc;
  border-radius: 12px;
  z-index: 1;
  transition: opacity 250ms;
}
.dpad-panel button::before {
  content: "";
  border: 10px solid transparent;
}
.dpad-panel button[data-active] {
  opacity: 0.6;
}
.dpad-panel [data-left] {
  margin-right: -2px;
  grid-area: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.dpad-panel [data-left]::before {
  border-left: none;
  border-right-color: currentColor;
}
.dpad-panel [data-right] {
  margin-left: -2px;
  grid-area: right;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.dpad-panel [data-right]::before {
  border-left-color: currentColor;
  border-right: none;
}
.dpad-panel [data-up] {
  margin-bottom: -2px;
  grid-area: up;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dpad-panel [data-up]::before {
  border-top: none;
  border-bottom-color: currentColor;
}
.dpad-panel [data-down] {
  margin-top: -2px;
  grid-area: down;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dpad-panel [data-down]::before {
  border-top-color: currentColor;
  border-bottom: none;
}