.Hud {
  --padding: 12px;
  padding-top: var(--padding);
  padding-right: calc(var(--safe-area-inset-right) + var(--padding));
  padding-bottom: var(--padding);
  padding-left: calc(var(--safe-area-inset-left) + var(--padding));
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  color: #ffffff;
  font-size: 20px;
  line-height: 1;
  text-shadow: 0.175ch 0.175ch 0 #000000;
  white-space: pre;
}

.Game:first-child .Hud {
  padding-top: calc(var(--safe-area-inset-top) + var(--padding));
}

.Game:last-child .Hud {
  padding-bottom: calc(var(--safe-area-inset-bottom) + var(--padding));
}

.Hud > *:not(.DPad) {
  z-index: 1;
}

#debug_toggle {
  margin: 8px;
  position: absolute;
  width: unset;
  height: unset;
  right: var(--safe-area-inset-right);
  top: 0;
  color: inherit;
  font: inherit;
  font-size: 1.2em;
  text-shadow: inherit;
  border-radius: 0;
  appearance: none;
}

.Game:first-child #debug_toggle {
  top: var(--safe-area-inset-top);
}

:root:not(.touch) #debug_toggle {
  display: none;
}

#debug_toggle::before {
  content: "⚙";
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}