*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --safe-area-inset-left: env(safe-area-inset-left,0px);
  --safe-area-inset-right: env(safe-area-inset-right,0px);
  --safe-area-inset-top: env(safe-area-inset-top,0px);
  --safe-area-inset-bottom: env(safe-area-inset-bottom,0px);
}
html {
  width: 100%;
  height: calc(100% + var(--safe-area-inset-top));
  overflow: hidden;
}
body {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ui-monospace, "Noto Sans Mono", "Cousine", monospace;
  image-rendering: pixelated;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}
#root {
  display: contents;
}
button {
  color: inherit;
  font: inherit;
  border-radius: 0;
}
#canvas {
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.hud-panel {
  --padding: 12px;
  padding: calc(var(--safe-area-inset-top) + var(--padding)) calc(var(--safe-area-inset-right) + var(--padding)) calc(var(--safe-area-inset-bottom) + var(--padding)) calc(var(--safe-area-inset-left) + var(--padding));
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  color: #ffffff;
  font-size: 20px;
  line-height: 1;
  text-shadow: 0.175ch 0.175ch 0 #000000;
  white-space: pre;
}
.hud-panel > *:not(.dpad-panel) {
  z-index: 1;
}
#debug_toggle {
  margin: 8px;
  position: absolute;
  width: unset;
  height: unset;
  right: var(--safe-area-inset-right);
  top: var(--safe-area-inset-top);
  color: inherit;
  font: inherit;
  font-size: 1.2em;
  text-shadow: inherit;
  border-radius: 0;
  appearance: none;
}
:root:not(.touch) #debug_toggle {
  display: none;
}
#debug_toggle::before {
  content: "⚙";
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.debug-panel {
  font-size: 0.8em;
}
#debug_toggle:not(:checked) + .debug-panel {
  display: none;
}
hotbar-panel {
  --hotbar-scale: 4;
  padding: 4px;
  position: absolute;
  left: 50%;
  bottom: var(--safe-area-inset-bottom);
  display: flex;
  transform: translateX(-50%);
}
hotbar-panel item-slot {
  padding: 12px;
  position: relative;
  display: flex;
  background: url("../textures/interface/slot.png") no-repeat 50%;
  background-size: calc(100% - 8px);
}
hotbar-panel item-slot[active]::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../textures/interface/slot_active.png") no-repeat;
  background-size: cover;
}
hotbar-panel item-render {
  width: 64px;
  aspect-ratio: 1 / 1;
  background: center no-repeat;
  background-size: contain;
}
hotbar-panel item-slot[animate] item-render {
  background-size: calc(var(--width) * var(--hotbar-scale)) calc(var(--height) * var(--keyframes) * var(--hotbar-scale));
  animation: animated-item-render var(--duration) step-end infinite;
}
/* I plan to make this driven by Web Animations rather than CSS, as that means I can add textures with more than 4 keyframes dynamically! */
@keyframes animated-item-render {
  0%, 100% {
    background-position-y: 0%;
  }
  25% {
    background-position-y: calc(100% * 1/3);
  }
  50% {
    background-position-y: calc(100% * 2/3);
  }
  75% {
    background-position-y: 100%;
  }
}
@media (max-width: 894px), (max-height: 255px) {
  hotbar-panel {
    --hotbar-scale: 3;
    padding: 3px;
  }
  hotbar-panel item-slot {
    padding: 8px;
    background-size: calc(100% - 6px);
  }
  hotbar-panel item-render {
    width: 48px;
  }
}
@media (max-width: 749px), (max-height: 223px) {
  hotbar-panel {
    --hotbar-scale: 2;
    padding: 2px;
  }
  hotbar-panel item-slot {
    padding: 6px;
    background-size: calc(100% - 4px);
  }
  hotbar-panel item-render {
    width: 32px;
  }
}
.dpad-panel {
  margin: 8px;
  position: absolute;
  left: var(--safe-area-inset-left);
  bottom: var(--safe-area-inset-bottom);
  display: grid;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
  color: #000000;
  white-space: normal;
}
:root:not(.touch) .dpad-panel {
  display: none;
}
.dpad-panel button {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cccccc;
  border: 2px solid #000000cc;
  border-radius: 12px;
  z-index: 1;
  transition: opacity 250ms;
}
.dpad-panel button::before {
  content: "";
  border: 10px solid transparent;
}
.dpad-panel button[data-active] {
  opacity: 0.6;
}
.dpad-panel [data-left] {
  margin-right: -2px;
  grid-area: left;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.dpad-panel [data-left]::before {
  border-left: none;
  border-right-color: currentColor;
}
.dpad-panel [data-right] {
  margin-left: -2px;
  grid-area: right;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.dpad-panel [data-right]::before {
  border-left-color: currentColor;
  border-right: none;
}
.dpad-panel [data-up] {
  margin-bottom: -2px;
  grid-area: up;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dpad-panel [data-up]::before {
  border-top: none;
  border-bottom-color: currentColor;
}
.dpad-panel [data-down] {
  margin-top: -2px;
  grid-area: down;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.dpad-panel [data-down]::before {
  border-top-color: currentColor;
  border-bottom: none;
}